.row {
    margin: 8px;
}

.panel {
    border: .3px solid #b1b1b1;
    border-radius: 10px;
}

.panel-heading {
    border-radius: 10px 10px 0 0;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}