<!-- contact-list.component.html -->

<!-- Panel with header and body to display the contact list -->
<div class="row">
    <div class="panel panel-default ">
        <!-- Panel Header -->
        <div class="panel-heading">
            <div class="col-xs-6">
                <h3 class="panel-title">Contacts</h3>
            </div>
                <!-- 
                Button to create a new contact (anchor tag) 
                (click)="createNewContact()"
                -->
            <div class="col-xs-6 text-right">
                <a href="#" class="btn btn-primary">New Contact</a>
            </div>
    
            <div class="clearfix"></div>
        </div>
    
        <!-- Panel Body -->
        <div class="panel-body">
            <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" (click)="onContactSelected(contact)"></cms-contact-item>
            
            <!--<a class="media" *ngFor="let contact of contacts">
                <div class="col-xs-9">
                    <h4 class="media-heading">{{ contact.name }}</h4>
                </div>
    
                <div class="col-xs-3">
                    <div class="image-size">
                        <img class="img-responsive img-rounded" [src]="contact.imageUrl" alt="{{ contact.name }} Image">
                    </div>
                </div>
    
                <div class="clearfix"></div>
            </a>-->
        </div>
</div>
