.media {
    border: .3px solid #b1b1b1;
    border-radius: 10px;
    padding: 5px;

    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-size {
    width: 75px;
}