.panel-title {
    font-size: x-large;
    padding-left: 25px;
    margin-left: 12px;
}

.contact-list-name {
    font-size: larger;
}

.panel-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.panel-container {
    margin: 8px;
}

.contact-image {
    height: 140px;
    border-radius: 5px;
}

.contact-detail-heading {
    margin: 10px 0 0 10px;
    display: flex;
    justify-content: flex-start;
}

.contact-image-container {
    justify-content: flex-start;
    margin: 0;
}

.btn-container {
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

.contact-detail-item {
    margin: 0 16px 0 16px;
}