.panel-title {
    font-size: x-large;
}

.contact-list-name {
    font-size: larger;
}

.panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.panel-container {
    margin: 8px;
}