.contact-list-items {
    color: #333333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-list-items:hover {
    color: #333333;
    background-color: #ddd;
}

.contact-image {
    height: 100px;
    border-radius: 5px;
}